aiohappyeyeballs==2.6.1
aiohttp==3.12.2
aiosignal==1.3.2
attrs==25.3.0
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
curl_cffi==0.11.1
discord-protos==0.0.2
discord.py-self @ git+https://github.com/dolfies/discord.py-self@71609f4f62649d18bdf14f0e286b7e62bc605390
discum==1.4.1
filetype==1.2.0
frozenlist==1.6.0
idna==3.10
intent==0.0.4
multidict==6.4.4
propcache==0.3.1
protobuf==6.31.0
pycparser==2.22
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
tzlocal==5.3.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.4.0
websocket-client==0.59.0
yarl==1.20.0
